@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/*Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Alegreya", sans-serif;
  background-color: #fff;
  color: #000000;
  line-height: 1.6;
}

h1 {
  font-family: "Alegreya", serif;
}

/* Hero Section */

#hero {
  background-color: #ff8400;
  padding: 60px 20px;
  width: 100%;
}

#gotItBtn {
  background-color: #ff8400;
  color: #ffffff;
  border: none;
}

/*Test Area*/

#startBtn,
#stopBtn,
#retryBtn {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  border: 2px solid #ff8400;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Result Area */
#resultArea {
  box-shadow: 0 0 5px #ff8400, 0 0 20px #ff8400;
  border-radius: 5px;
  height: fit-content;
}
